<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome")
</head>
<body>
    <main>
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <span>Example</span> <div class="vr mx-2"></div>
                            <img src="~/Content/Images/logo.png" width="30" height="30" class="d-inline-block align-top" />
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="#" class="nav-link text-white d-flex align-items-center">
                                    <i class="fa fa-home fa-2x me-2"></i><span class="my-text">Home</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-start">
                    <div class="row">
                        <div class="col">
                            <span class="navbar-text"><i class="fa fa-folder-open"></i></span> Company
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="bg-light p-5 rounded">
                @RenderBody()
            </div>
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
